:root{
    --bg-primary: #e6e6e6;
    --bg-secondary: #fff;
    --bg-header: #fff;
    --bg-btn: #000;
    --text-primary: #000;
    --text-secondary: #fff;
    --text-table: #000;

    /* --bg-primary: #595b67;
    --bg-secondary: #797e8b;
    --bg-header: #828597;
    --bg-btn: #081045;
    --text-primary: #ffffff;
    --text-secondary: #fff;
    --text-table: #ffffff; */
}

html{
    font-family: verdana;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

body{
    margin: 0;
}

.btn{
    background-color: var(--bg-btn);
    color: var(--text-secondary);
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-inline: 5px;
    max-width: fit-content;
    text-decoration: none;
    border: none;
    font-size: small;
    max-height: 36px;
}
.btn:hover{
    cursor: pointer;
}


header,footer{
    background: var(--bg-header);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

header{
    justify-self: center;
    justify-content: space-between;
}

footer{
    position: fixed;
    justify-content: center;
    bottom: 0;
}

.content{
    display: flex;
    justify-content: center;
    padding-block: 50px;
    width: 100%;
}

.container{
    padding: 50px;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    border-radius: 20px;
    height: fit-content;
    max-width: 1500px;
    width: 100%;
    margin: 30px;
    overflow-x: auto;
}

a{
    color: var(--text-primary);
}

input,select,textarea{
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 5px;
}

.horizontal-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.msg-empty,.msg-error,.msg-success{
    padding: 5px;
    border-radius: 10px;
    color: var(--text-primary);
    max-width: fit-content;
    padding-inline: 10px;
}

.msg-error,.msg-success{
    background-color: var(--bg-primary);
}

.msg-error{
    color: red;
}
.msg-success{
    color: rgb(0, 155, 0);
}

table{
    text-align: center;
    background-color: var(--bg-primary);
    margin-bottom: 15px;
}

table,th,td,tr{
    border-radius: 15px;
    padding: 10px;
    border-collapse: collapse;
    border: 2px solid var(--bg-secondary);
    color: var(--text-table);
}